<div class="ios-card flex flex-col md:flex-row gap-6 p-5">
  <app-skeleton-loader className="w-full md:w-72 h-48 !rounded-lg"></app-skeleton-loader>
  <div class="flex-1">
    <app-skeleton-loader height="1.5rem" width="30%" className="!rounded-full"></app-skeleton-loader>
    <app-skeleton-loader height="1.25rem" width="90%" className="mt-4"></app-skeleton-loader>
    <app-skeleton-loader height="1.25rem" width="70%" className="mt-2"></app-skeleton-loader>
    <div class="mt-3 space-y-2">
      <app-skeleton-loader height="0.875rem" width="100%"></app-skeleton-loader>
      <app-skeleton-loader height="0.875rem" width="100%"></app-skeleton-loader>
      <app-skeleton-loader height="0.875rem" width="40%"></app-skeleton-loader>
    </div>
    <div class="mt-4">
      <app-skeleton-loader height="0.75rem" width="50%"></app-skeleton-loader>
    </div>
  </div>
</div>
