<div class="ios-card overflow-hidden h-full flex flex-col">
    <app-skeleton-loader height="12rem" className="!rounded-b-none"></app-skeleton-loader>
    <div class="p-5 flex-grow flex flex-col">
      <app-skeleton-loader height="1.25rem" width="80%"></app-skeleton-loader>
      <app-skeleton-loader height="0.875rem" width="50%" className="mt-2"></app-skeleton-loader>
      <div class="flex items-center mt-3 text-sm text-gray-500 gap-4">
        <app-skeleton-loader height="1rem" width="40%"></app-skeleton-loader>
        <app-skeleton-loader height="1rem" width="30%"></app-skeleton-loader>
      </div>
      <div class="flex items-center justify-between mt-4">
        <app-skeleton-loader height="1.5rem" width="45%"></app-skeleton-loader>
        <app-skeleton-loader height="1.5rem" width="35%"></app-skeleton-loader>
      </div>
    </div>
</div>
