<div class="ios-card overflow-hidden flex flex-col h-full">
  <app-skeleton-loader className="aspect-[3/4] !rounded-b-none"></app-skeleton-loader>
  <div class="p-4 flex flex-col flex-grow">
    <app-skeleton-loader height="1.25rem" width="40%" className="!rounded-full"></app-skeleton-loader>
    <div class="mt-2 flex-grow">
      <app-skeleton-loader height="1rem" width="90%"></app-skeleton-loader>
      <app-skeleton-loader height="1rem" width="70%" className="mt-2"></app-skeleton-loader>
    </div>
    <app-skeleton-loader height="0.875rem" width="60%" className="mt-1"></app-skeleton-loader>
    <div class="flex items-center justify-between mt-auto pt-3 border-t">
      <app-skeleton-loader height="1.25rem" width="50%"></app-skeleton-loader>
      <app-skeleton-loader height="2rem" width="35%" className="!rounded-lg"></app-skeleton-loader>
    </div>
  </div>
</div>
