<div class="ios-card p-5 h-full flex flex-col">
    <div class="flex items-center gap-4">
        <app-skeleton-loader shape="circle" height="5rem" width="5rem"></app-skeleton-loader>
        <div class="flex-1 space-y-2">
            <app-skeleton-loader height="1.125rem" width="70%"></app-skeleton-loader>
            <app-skeleton-loader height="0.875rem" width="90%"></app-skeleton-loader>
            <app-skeleton-loader height="0.75rem" width="50%"></app-skeleton-loader>
        </div>
    </div>
    <div class="mt-5 flex-grow flex flex-col justify-end">
        <app-skeleton-loader height="2.5rem" className="!rounded-xl"></app-skeleton-loader>
    </div>
</div>
